<%- #Specifies the view for the index page. This page lists all of the tips within the database, along with show, edit, and destroy buttons. -%>
<h1>Listing Tips</h1>
 
<table>
  <tr>
    <th>TITLE</th>
    <th>NAME</th>
    <th>TEXT</th>
  </tr>
 
  <% @tips.each do |tip| %>
    <tr>
      <td><%= tip.title %></td>
      <td><%= tip.name %></td>
      <td><%= tip.text %></td>
      <td><%= link_to 'Show', tip_path(tip) %></td>
      <td><%= link_to 'Edit', edit_tip_path(tip) %></td>
      <td><%= link_to 'Destroy',
                                tip_path(tip),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Add New Tip', new_tip_path %>